<head>
	<meta charset="UTF-8"/>
	<title>Plataforma Carbon - Login</title>
	<link rel="icon" type="image/x-icon" href="/carbon/app icon v2.png" />
</head>

<script id="sap-ui-bootstrap" src="https://sapui5.netweaver.ondemand.com/resources/sap-ui-core.js"
	type="text/javascript" data-sap-ui-libs="sap.m"
	data-sap-ui-theme="sap_belize">	
</script>

<script id="myxml" type="text/xmldata">
   <mvc:View xmlns:core="sap.ui.core" xmlns:mvc="sap.ui.core.mvc" xmlns="sap.m" xmlns:form="sap.ui.layout.form" controllerName="myController" >
	  <App>
		 <Page title="Plataforma Carbon - Login" style="text-align:center;">
            <core:HTML id="html" content="hello"  style="text-align:center;"/>
            <Image src="/carbon/app icon v2.png" height="224px" width="224px" visible="true" densityAware="false"/>
			<VBox>
                <Label text="Nome de usuário:" design="Standard" width="300px" required="false" textAlign="Begin" textDirection="Inherit" visible="true"/>
                <Input id="inputUsername" type="Text" width="300px" showValueHelp="false" enabled="true" visible="true" valueHelpOnly="false" maxLength="0"/>
                <Label text="Senha:" design="Standard" width="300px" required="false" textAlign="Begin" textDirection="Inherit" visible="true"/>
                <Input id="inputPassword" type="Password" width="300px" showValueHelp="false" enabled="true" visible="true" valueHelpOnly="false" maxLength="0"/>
                <Label text="" design="Standard" width="300px" required="false" textAlign="Begin" textDirection="Inherit" visible="true"/>
                <Button text="Entrar" type="Default" iconFirst="true" width="150px" enabled="true" visible="true" iconDensityAware="false" press="onLogin"/>
                <Link text="Cadastrar" target="_self" press="onNewUser"/>
            </VBox>                    
		 </Page>
	  </App>
   </mvc:View>	
  </script>
	
 <script>
	
	sap.ui.controller("myController", {
		onLogin() {
			const dialog = new sap.m.BusyDialog();
			dialog.open();
			
			jQuery.sap.require("sap.m.MessageBox");
			var that = this;
			
			$.ajax({
				method: "POST",
				url: "/carbon/login",
				data: {
					username: that.getView().byId("inputUsername").getValue(),
					password: that.getView().byId("inputPassword").getValue()
				},
				success(oResult, oResponse) {
					dialog.close();
					window.location = "/carbon/home";
				},
				error(oResult, oResponse) {
					dialog.close();
					sap.m.MessageBox.error("Erro no acesso", {title: "Erro"});
				}
			})
		},
		
		onNewUser() {
			window.location = "/carbon/cadastro";
		}
	});	
	sap.ui.view({ viewContent:document.scripts.myxml.innerText, type:sap.ui.core.mvc.ViewType.XML }).placeAt("content")
 </script>
 
 <body class='sapUiBody' id='content' style="text-align:center;">
 </body>